<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #38423B; height: 17vh; text-decoration: dotted;">
  <a class="navbar-brand" style="font-size: 35px; font-family: 'Times New Roman', Times, serif; text-align: center;  display: inline-block;" href="#">News-Articles <i class="fas fa-book-open"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>